Source: lincmox-cli
Section: utils
Priority: optional
Maintainer: Florent GAUDIN <florent.gaudin@lincmox.ovh>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 pybuild-plugin-pyproject
Standards-Version: 4.6.2
Homepage: https://doc.lincmox.ovh

Package: lincmox-cli
Architecture: any
Depends: 
  ${python3:Depends}, 
  ${misc:Depends},
  python3-lincmox-driver
Description: CLI for managing LincStation N1 LEDs.